.container {
    margin-top: 250px;
    width: 100%;
    height: 100%;
}

.sectionContainer {
    color: #000;
}

.headerGroup {
    padding: 0 5% 10px 5%;
}

.sectionTitle {
    cursor: pointer;
    background-color: #3c3c3c;
    font-size: 20px;
    height: 55px;
    padding-top: 12px;
}

.sectionTitle h3 {
    margin: 0;
}

.cvContent {
    opacity: 0;
    display: none;
    height: 0px;
    background-color: #fff;
    padding: 10px;
    text-align: justify;
}

.cvTitle {
    text-align: left;
    margin-bottom: 30px;
    font-size: 30px;
}

.cvDescription {
    width: 100%;
    text-align: left;
    font-family: courier;
    font-size: 20px;
    margin-bottom: 50px;
}


/** Download button **/

.download-button-container {
    height: 400px;
    width: 100%;
    background-color: #fcae17;
    -webkit-box-shadow: 0 -5px 5px 0 #292929;
    box-shadow: 0 -5px 5px 0 #292929;
}

#download-button-wrapper {
    position: absolute;
    margin-top: 5%;
    left: calc(50% - 90px);
}

#download-button {
    width: 170px;
    height: 55px;
    border-radius: 40px;
    margin-left: calc(50% - 85px);
    color: #fcae17;
    background-color: #fff;
    top: 0;
    box-shadow: 5px 5px 10px 0 #858585;
    animation: float 6s ease-in-out infinite;
    border: 1px solid #adadad;
    cursor: pointer;
    font-size: 15px;
}

.download-icon {
    width: 30px;
    height: 35px;
    fill: #fcae17;
    float: left;
    margin-top: 7px;
    margin-left: 12px;
}

.button-text {
    padding: 20px 5px 0 0;
}


/* Animations */

@-webkit-keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@-o-keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@-ms-keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-7px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}