.container {
    background-color: #fff;
    margin-top: 250px;
}

.mainContainer {
    font-family: courier;
    font-size: 20px;
    width: 60%;
    margin-left: 5%;
    text-align: center;
}

.flexHomeHeader {
    display: inline-flex;
    width: 100%;
}

.horizontalRuler {
    display: block;
    width: 70%;
    border-top: 3px solid #717171;
    margin-left: 15%;
}

.homeLinksContainer {
    display: flex;
    justify-content: space-between;
    width: 15%;
    margin-left: 42%;
}

.homeLinksContainer a {
    color: #000;
    transition: all 0.3s ease-out;
}

.homeLinksContainer a:hover {
    opacity: 0.6;
    font-size: 25px;
    margin-bottom: -7px;
}

.welcomeText {
    text-align: justify;
}

.homePicture {
    width: 27%;
    margin-top: -100px;
}

.sectionContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.flexReverse {
    flex-direction: row-reverse !important;
}

.sectionContainer img {
    width: 25%;
}

.sectionContainer p {
    margin: 0 0 0 20px;
    width: 70%;
    text-align: center;
}

.sectionContainer:last-child {
    margin: 100px 0 100px 0;
}

.mobLaptopPicture {
    display: none;
}


/* media queries*/

@media screen and (max-width: 1200px) {
    .homePicture {
        width: 32%;
    }
    .mainContainer {
        margin: 0;
    }
    .sectionContainer img {
        width: 35%;
    }
    .sectionContainer p {
        margin: 100px 0 0 20px;
        width: 60%;
        text-align: center;
    }
}

@media screen and (max-width: 950px) {
    .homePicture {
        width: 32%;
        margin-top: 0;
    }
    .mainContainer {
        margin: 0;
    }
    .homeLinksContainer {
        width: 20%;
        margin-left: 40%;
    }
    .sectionContainer img {
        width: 45%;
        margin-top: 50px;
    }
    .sectionContainer p {
        width: 50%;
    }
}

@media screen and (max-width: 840px) {
    .homePicture {
        display: none;
    }
    .mainContainer {
        width: 100%;
        padding: 20px;
    }
    .homeLinksContainer {
        width: 40%;
        margin-left: 30%;
    }
    .mobLaptopPicture {
        display: block;
        width: 95%;
        margin: 2%;
        margin-top: 100px;
    }
    .sectionContainer img {
        display: none;
    }
    .sectionContainer p {
        width: 95%;
        margin: 2%;
    }
}