.homeContainer{
    background-color: #ffffff;
}

.sectionsContainer{
    width: 100%;
    height: 150px;
    -webkit-box-shadow: -43px 21px 19px -10px #000000;
    box-shadow: -43px 21px 19px -10px #000000;
    margin-bottom: 40px;
}

.descriptionContainer{
    /* 100% - taille image - taille inside triangle */
    width: calc(100% - 150px - 50px);
    height: 100%;
    float: left;
    text-align: center;
}

.imgContainer{
    float: left;
    height: 100%;
}

.imgContainer img{
    height: 100%;
}

.insideTriangle{
    width: 0;
    height: 0;
    border-bottom: 50px solid #feae17;
    border-left: 50px solid #ffffff;
    float: right;
    margin-top: 100px;
}