.contactButton {
    box-shadow: 3px 5px 4px -1px #2f2f2f;
    border-radius: 35px 35px 35px 35px;
    cursor: pointer;
    padding: 5px;
}

.myButton:hover {
    background-color: #ffffff;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.icon {
    width: 50px;
    height: 45px;
    fill: #505050;
}