/*General*/

@import "~react-image-gallery/styles/css/image-gallery.css";

/*Ban*/

#banner {
    position: fixed;
    background-color: #3B3B3B;
    width: 100%;
    height: 70px;
    background-color: #3b3b3b;
    z-index: 3;
}

.pageContainer {
    margin-top: 0;
}


/*Body*/

#sections {
    height: 100px;
    width: 100%;
    background-color: #F8AD27;
    margin-top: 150px;
    padding-top: 20px;
    box-shadow: -1px 5px 8px 2px;
    display: flex;
    justify-content: center;
}

#sections img {
    width: 70px;
    margin-left: 10%;
    margin-right: 10%;
    height: 70px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#sections img:hover {
    width: 75px;
    margin-top: -5px;
    margin-left: calc(10% - 5px);
    height: 75px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.notTopScrollCatMargin {
    margin-top: 70px !important;
}

.notTopScrollPresMargin {
    top: 80px !important;
}

#pictures {
    height: 350px;
    width: 100%;
    background-color: #3B3B3B;
    display: flex;
    box-shadow: -1px 5px 8px 2px;
    overflow: auto;
}

.shake:hover {
    animation: shake 0.5s;
}

#pictures img {
    height: 100%;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#pictures img:hover {
    opacity: 0.6;
    box-shadow: -1px 5px 8px 2px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#pictures p {
    text-align: center;
}

#presentation {
    text-align: justify;
    padding: 2%;
    width: 100%;
    top: 150px;
}

#descriptionContainer {
    margin-top: 20px;
    height: 100%;
}

#descriptionContainer p:first-child {
    text-align: justify;
    padding: 2%;
    margin: 0;
    max-height: 60%;
    overflow-y: auto;
}

.reaTitle {
    color: #3b3b3b;
    font-size: 30px;
    font-family: roboto-thin;
    text-align: left;
    margin-left: 15px;
    border-bottom: 1px #fdae17 solid;
}

.keywords {
    color: #FCAD17;
    font-weight: bold;
}


/** view button **/

#view-button-wrapper {
    margin-bottom: 80px;
}

#view-button {
    width: 125px;
    height: 55px;
    border-radius: 40px;
    margin-left: calc(50% - 85px);
    background-color: #fcae17;
    color: #fff;
    box-shadow: 5px 5px 10px 0 #858585;
    animation: float 6s ease-in-out infinite;
    cursor: pointer;
    font-size: 15px;
}

.view-icon {
    width: 30px;
    height: 35px;
    fill: #ffffff;
    float: left;
    margin-top: 10px;
    margin-left: 12px;
}

.button-text {
    padding: 20px 5px 0 0;
}

.image-gallery {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    z-index: 100;
}

.close-gallery-button {
    position: fixed;
    z-index: 101;
    color: #fff;
    right: 0;
    top: 0;
    background: none;
    border: none;
    font-size: 45px;
    font-family: roboto;
    cursor: pointer;
    margin: 20px 20px 0 0;
}


/* Animations */

@-webkit-keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@-moz-keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@-o-keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@-ms-keyframes float {
    0% {
        top: 0;
    }
    50% {
        top: 10px;
    }
    100% {
        top: 0;
    }
}

@keyframes float {
    0% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
    50% {
        box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
        transform: translatey(-7px);
    }
    100% {
        box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
        transform: translatey(0px);
    }
}

@keyframes shake {
    0% { transform: translate(0px, 0px) }
    10% { transform: translate(-2px, 0px) }
    20% { transform: translate(-4px, 0px)  }
    30% { transform: translate(-6px, 0px) }
    40% { transform: translate(-8px, 0px)  }
    50% { transform: translate(-10px, 0px)  }
    60% { transform: translate(-8px, 0px)  }
    70% { transform: translate(-6px, 0px)  }
    80% { transform: translate(-4px, 0px) }
    90% { transform: translate(-2px, 0px)  }
    100% { transform: translate(0px, 0px) }
}