/*General*/

body {
    margin: 0;
    font-size: 20px;
    background: #FFF;
    font-family: 'caviar_dreamsregular';
}


/*Ban*/

#banner {
    position: fixed;
    background-color: #3B3B3B;
    width: 100%;
    height: 70px;
    background-color: #3b3b3b;
    z-index: 3;
}

.pageContainer {
    margin-top: 0;
}


/*Body*/

#corps {
    background-color: #FFF;
}

#sections {
    position: fixed;
    height: 100%;
    width: 100px;
    background-color: #F8AD27;
    margin-top: 150px;
    padding-top: 45px;
    z-index: 2;
    box-shadow: -1px 5px 8px 2px;
    top: 0px;
}

#sections img {
    width: 80px;
    margin-left: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#sections img:hover {
    width: 75px;
    margin-left: 12px;
    margin-bottom: 25px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.notTopScrollCatMargin {
    margin-top: 70px !important;
}

.notTopScrollPresMargin {
    top: 80px !important;
}

#pictures {
    height: auto;
    width: 40%;
    background-color: #3B3B3B;
    margin-top: 150px;
    margin-left: 100px;
    padding-top: 30px;
    margin-bottom: -70px;
    padding-bottom: 70px;
    box-shadow: -1px 5px 8px 2px;
    z-index: 1;
}

#pictures img {
    width: 65%;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#pictures img:hover {
    opacity: 0.6;
    box-shadow: -1px 5px 8px 2px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

#pictures p {
    text-align: center;
}

#presentation {
    right: 0px;
    position: fixed;
    display: table;
    text-align: center;
    height: 100%;
    width: calc(60% - 100px);
    top: 150px;
}

#descriptionContainer {
    margin-top: 20px;
}

#descriptionContainer p:first-child {
    text-align: justify;
    padding: 2%;
    margin: 0;
    max-height: 60%;
    overflow-y: auto;
}

.keywords {
    color: #FCAD17;
    font-weight: bold;
}