@font-face {
    font-family: roboto;
    src: url(./assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(./assets/fonts/Roboto-Thin.ttf);
}

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

.hide {
    display: none
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.white {
    color: #fff;
}

.orange {
    color: #feae17;
}

.orangeBgrd {
    background-color: #feae17;
}

.whiteBgrd {
    background-color: #fff;
}

.shadow {
    -webkit-box-shadow: -10px -5px 18px 5px #000000;
    box-shadow: -10px -5px 18px 5px #000000;
}

.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

.rot90 {
    transform: rotate(90deg);
}